# Environment variables for the TVTrader storage services


# Vault configuration
VAULT_URL=http://localhost:8200/
VAULT_ADDR=http://0.0.0.0:8200
VAULT_TOKEN=your_vault_token

# InfluxDB configuration
# If not set, the token will be retrieved from Vault
INFLUXDB_TOKEN=your_influxdb_token

# Data source configuration
# If not set, the value from config.toml will be used
DATASOURCE_URL=http://localhost:3000
