INFLUX_USER=tvtrader
INFLUX_PASSWORD=tvtrader
READONLY_USERNAME=tvtrader-ro

DATASOURCE_URL=http://fetcher:3000
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=token
INFLUXDB_ORG=pricestore

# Keycloak configuration
KEYCLOAK_PASS=admin_password
KEYCLOAK_URL=http://keycloak:8080
